fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
alembic
psycopg2-binary
python-dotenv
email-validator
uuid6
jinja2
resend

motor
httpx
pytest
pytest-asyncio
gunicorn
cloudinary
